<% provide(:title, "Help")%>


<dl class="row">
  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9">Bugzilla is a test project which allows it's users to manage the process of debugging in a large scale project. </dd>

  <dt class="col-sm-3">Users</dt>
  <dd class="col-sm-9">
    <p>Bugzilla provides three different roles for its users.These users perform different tasks according to their assgined roles.</p>
    <p>These Users include.</p>
  </dd>

  <dt class="col-sm-3">Manager</dt>
  <dd class="col-sm-9">A Manger's duty is to create bugs and assgin different QA or developers to solve that bug.</dd>

  <dt class="col-sm-3 text-truncate">Quality Assurance Officer</dt>
  <dd class="col-sm-9">A QA can also create bug in the system and change the status of the bugs that he created.</dd>

  <dt class="col-sm-3">Developer</dt>
  <dd class="col-sm-9">
    <dl class="row">
      <dd class="col-sm-8">developer's duties includes solving bugs that have been assgined to him and updating the status of those bugs.</dd>
    </dl>
  </dd>
</dl>

